.navbar-weekendr {
  display: flex;
  height: 30vh;
  align-items: center;
  color: $light-gray;
  background: $blue;
  .navbar-brand img {
    width: 10vw;
    padding: 16px;
  }
  .navbar-title {
    text-align: center;
    width: 40vw;
    margin: 0 30vw 0 20vw;
    display: flex;
    justify-content: center;
    font-size: 32px;
    .yellow-text {
      color: $yellow;
      padding-left: 8px;
    }
  }
}
