<div class="navbar-weekendr">
  <div class="navbar-brand">
    <%= image_tag 'logo-white-weekendr' %>
  </div>
  <div class="navbar-title">
    Prix des transports par ville
  </div>
</div>

<% @destinations.each do |destination| %>
  <%= image_tag destination.photo_link %>
  <%= destination.destination_name %>
  <%= destination.transport_price %>
<% end %>
